<!DOCTYPE html>
<html>
<head>
<title>AfDB's operation impacts</title>

<link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: img src = 'bg.jpg';
    min-height: 150%;
    background-position: center;
    background-size: cover;
}
</style>
</head>
<body >
<div class="w3-display-topleft w3-padding-large w3-xlarge">
    <button class="w3-button w3-round" style="color:green;" onclick="window.location.href='{{ url_for('mainpage') }}'">HOME</button> </p>
 </div>
<form action = "/print_global_entire_result" method="POST" enctype="multipart/form-data">

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" id="container">
  <div class="w3-display-middle" style="color:black;" size=6>
  <br>
  <br>
  <br>
  <br>
  <br>
	<table border="0" align='center'>
  <caption style="caption-side: center;"> <font size=4 color="#ff0000" face="Verdana">IMPACT DETERMINATION ----> External Excel file </font></caption>
		
	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#0B6121; opacity: 0.6;"> <a href="{{ url_for('global_') }}">Predict impact using Global Comitments</a></button></th>
	</tr>
		<tr>
		<th colspan="3">
			<p style="text-align:justify;">
				<font size=1>
		You define the overall amount allocated to all operations and the system is responsible for splitting by region, 
		sector and country type
				</font>
			</b>
		</th>
	</tr>

	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#088A4B; opacity: 0.6;"> <a href="{{ url_for('sector') }}">Predict impact by defining commitments by sector</a></button></th>
	</tr>
	<tr>
		<th colspan="3">
			<p style="text-align:justify;">
				<font size=1>
		You define amount allocated by sector and the system is responsible for splitting by region and country type
				</font>
			</b>
		</th>
	</tr>


	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#01DFA5; opacity: 0.6;"> <a href="{{ url_for('region') }}">Predict impact by defining commitments by region</a></button></th>
	</tr>
	<tr>
		<th colspan="3">
			<p style="text-align:justify;">
				<font size=1>
		You define amount allocated by region and the system is responsible for splitting by sector and country type
				</font>
			</b>
		</th>
	</tr>


	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#58FAF4; opacity: 0.6;"> <a href="{{ url_for('type') }}">Predict impact by defining commitments by country type</a></button></th>
	</tr>
	<tr>
		<th colspan="3">
			<p style="text-align:justify;">
				<font size=1>
		You define amount allocated by country type and the system is responsible for splitting by sector and region
				</font>
			</b>
		</th>
	</tr>
	
	
	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#CEF6F5; opacity: 0.6;"> <a href="{{ url_for('type_sector') }}">Predict impact by defining commitments by country type and sector</a></button></th>
	</tr>
	<tr>
		<th colspan="3">
			<p style="text-align:justify;">
				<font size=1>
		You define amount allocated for country type by sector and the system is responsible for splitting by region
				</font>
			</b>
		</th>
	</tr>
	<tr>
		<th colspan="3" align="left"><button class="favorite styled" type="button" style="background-color:#CEF6F5; opacity: 0.6;"> <a href="{{ url_for('global_entire') }}">Predict impact using external Excel sheet</a></button></th>
	</tr>
	<tr>
		<th colspan="3" align="left" bgcolor="#FFFFFF">
			<p>EXCEL FILE: <input type = "file" name = "filename" /></p>
			<p><input type = "submit" value = "Upload" /></p>
			<p>The sheet should contain, at least, the following columns: <br>
			'SAP_Code': <i>The SAP Code</i><br>
			'RD': <i>Regional departement</i><br>
			'Country_type': <i>ADF or ADB country</i><br>
			'Sector': <i>(Agriculture, Transport, Power, Water Sup/Sanit, Health, Microfinance,Education)</i><br>
			'bank_contrib_m_ua': <i>Bank's contribution in millions UA</i></p>
		</th>
	</tr
	</table>
  </div>
</div>
</form>
</body>
</html>