<!DOCTYPE html>
<html>
<head>
<title>AfDB's operation impacts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: img src = 'bg.jpg';
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
</head>
<body>
<br>
<br>
<div>
    <button class="favorite styled" onclick="window.location.href='{{ url_for('mainpage') }}'">HOME</button> </p>
</div>
<br>
<br>
<br>
<br>
<br>
<table align="center" bgcolor="#FFFFFF">
	<caption style="caption-side: left;"> <font size=4 color="#ff0000" face="Verdana">ANALYSIS AND API CODES</font></caption>
<br>
<br>
<br>	
<tr>
<td>For the steps of estimation of the main model</td><td><a href='https://github.com/kadau/afdbapp/blob/master/Main_model.ipynb'>Click here</a></td>
</tr>
<tr>
<td>The API html files and python codes</td><td><a href='https://github.com/kadau/afdbapp/blob/master/Main_model.ipynb'>Click here</a></td>
</tr>
<tr>
<td>For some basic analysis codes</td><td><a href='https://github.com/kadau/afdbapp/blob/master/Main_model.ipynb'>Click here</a></td>
</tr>
</table>

</body>
</html>